.search-box{
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding: 0;
    width: 400px;
    height: 250px;
}

.search-btn {
    margin-top: 15px;
    height: 25px;
    padding-left: 5px;
    cursor: pointer;
}

.search-btn:hover {
    box-shadow: 2px 2px 2px 2px var(--color-dark-purple);
}

.search-list {
    width: 75%;
}

.search-link {
    text-align: right;
    margin-top: 10px;
    color: var(--color-pink);
}

.search-link a{
    color: var(--color-pink);
    text-decoration: none;
    font-weight: bold;
}

.search-link a:hover{
    color: var(--bs-blue);
}

.catelog-segments {
    cursor: pointer;
    /* position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 2; */
    /* display: flex; */
    /* margin-top: 10%; */
    width: 320px;
    height: 200px;
    background-size: contain;
}

.catelog-segments a{
    text-decoration: none;
}

.catelog-word {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: ; */

}

.catelog-word span{
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    color: var(--color-pink);
}

.catelog-word span:hover{
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    color: var(--bs-blue);
}